<!DOCTYPE html>
<html>
<head>
    <title>UrvaraIQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🌾 UrvaraIQ</h1>
        <p>Smart Farming Assistant</p>

        <form method="POST">
            <input type="text" name="city" placeholder="Enter City" required>

            <select name="crop">
                <option>Wheat</option>
                <option>Rice</option>
                <option>Maize</option>
            </select>

            <button type="submit">Analyze</button>
        </form>

        {% if result %}
        <div class="result">
            <h2>📍 {{ result.city }}</h2>
            <p>🌡 Temperature: {{ result.temp }} °C</p>
            <p>💧 Humidity: {{ result.humidity }} %</p>

            <h3>✅ Recommendations:</h3>
            <p>{{ result.irrigation }}</p>
            <p>{{ result.disease }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>