{% extends "base.html" %}

{% block content %}
<section class="page-section">
    <div class="page-overlay"></div>

    <div class="content-box auth-box">
        <h1 class="page-title">SIGN IN</h1>
        <p class="page-subtitle">Access your UrvaraIQ account.</p>

        <form method="POST" class="auth-form">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">SIGN IN</button>
        </form>
    </div>
</section>
{% endblock %}